<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/nation.css" >
    <title>1Nation</title>
</head>
<body >
    <header>
        <nav class="navbar">
            <div class="container-fluid">
                <div>
                    <a class="font-group-black-red navbar-brand" href="/">1Nation</a>
                    <svg viewBox="0 0 24 24"  class="me-5"    height="6%" width="6%"fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#CF0F47"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M13.1427 20.9999C10.8077 19.5438 9.25254 16.9522 9.25254 13.9968C9.25254 12.4783 10.4833 11.2476 12.0008 11.2476C13.5184 11.2476 14.7491 12.4783 14.7491 13.9968C14.7491 15.5153 15.9798 16.746 17.4974 16.746C19.0149 16.746 20.2457 15.5153 20.2457 13.9968C20.2457 9.44139 16.5544 5.74922 12.0017 5.74922C7.44907 5.74922 3.75781 9.44139 3.75781 13.9968C3.75781 15.0122 3.87145 16.001 4.08038 16.954M8.49027 20.2989C7.23938 18.5138 6.50351 16.3419 6.50351 13.9968C6.50351 10.9599 8.96405 8.49844 11.9992 8.49844C15.0343 8.49844 17.4948 10.9599 17.4948 13.9968M17.7927 19.4806C17.6937 19.4861 17.5966 19.4953 17.4967 19.4953C14.4616 19.4953 12.0011 17.0338 12.0011 13.9969M19.6734 6.47682C17.7993 4.34802 15.0593 3 12.0004 3C8.94141 3 6.20138 4.34802 4.32734 6.47682" stroke="#" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></g></svg>
                </div>
                <form class="d-flex" role="search" id="form-search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
                    <button class="btn NationBtn"  type="submit">Search</button>
                </form>
            </div>
        </nav>
    </header>
    <main>
        <section class="section mt-4 container">
            <div id="first-row">
                <div class="container-fluid d-inline-flex">
                    <div class=" graph-container d-inline-flex justify-content-center "  >
                        <div class="card nation-summary mt-5" style="width: 18rem; ">
                            <img src="<%= nation.flagURL %>" class="card-img-top nation-page-flag" alt="...">
                            <div class="card-body mt-2">
                                <h5 class="card-title text-center"><%= nation.name %></h5>
                                 <p id="isocodeHolder" style="display: none;"><%= nation.isocode3 %> </p>
                            </div>
                        </div>
                    </div>
                    <div class="graph-container" style="margin-left: 50px;" id="graph-capita">
                        <h6 class="depressed-font text-center mt-1">REAL GDP PER CAPITA ($) YEARLY </h6>
                        <canvas id="myChart">
                        </canvas>
                    </div>
                </div>
            </div>
            <div id="second-row"  class="mt-5">
                <div class=" container-fluid d-inline-flex">
                    <div class="graph-container">
                        <h6 class="depressed-font text-center mt-1">POPULATION AGE STRUCTURE (2024)</h6>
                        <div class=" d-flex justify-content-center" style="height: 45vh; width: 100%;">
                            <canvas id="popPieChart">
                            </canvas>
                        </div>
                    </div>
                    <div class="graph-container " style="margin-left: 50px;" >
                        <h6 class="depressed-font text-center mt-1">REAL GDP($) YEARLY </h6>
                        <canvas id="barCtx">
                        </canvas> 
                    </div>
                </div>
            </div>
        </section>

    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script type="module"  src="/js/nation.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const iso3 = document.getElementById('isocodeHolder').innerText;
        console.log(iso3)
        fetch(`/gdpPerCapita/${iso3}`).then(response => response.json()).then(perCapitaData => {
                const ctx = document.getElementById('myChart').getContext('2d');
                const capitaValues = perCapitaData.map(item => parseFloat(item.yearValue.toFixed(2)));
                const arrYears = perCapitaData.map(item => item.year);
                 console.log(arrYears);
                 new Chart(ctx, {
                     type: 'line',
                     data: {
                     labels: arrYears,
                     datasets: [{
                         label: 'GDP Per Capita (USD)',
                        data: capitaValues,
                         borderWidth: 1,
                         borderColor: 'rgba(207, 15, 71)',
                         color: 'rgba(207, 15, 71, 0)'
                    }]
                     },
                     options: {
                     layout: {
                                 padding: 20
                             },
                    scales: {
                        y: {
                        beginAtZero: false,
                        suggestedMin: (Math.min(...capitaValues) - 5000),
                        suggestedMax: (Math.max(...capitaValues) + 5000),
                         }
                   },
                   responsive: true,
                   maintainAspectRatio: true
                   }
                });
        });

    </script>
    <script>
        fetch(`/ageStructure/${iso3}`).then(response => response.json()).then(ageData => {
               const pieChartCtx = document.getElementById('popPieChart').getContext('2d');
               console.log(ageData , "pie chart data")
                new Chart(pieChartCtx, {
                    type: 'pie',
                    data: {
                    labels: ['0-14', '15-65 ', '65+'],
                    datasets: [{
                        label: ' Population Age  Distribution %',
                        data: [ageData['0-14'], ageData['15-65'] , ageData['65+']],
                        borderWidth: 1,
                        backgroundColor: [
                            'rgba(207, 15, 71)',
                            'rgba(0, 34, 77)',
                            'rgb(22, 24, 60)'
                        ],
                    }]
                    },
                    options: {
                    layout: {
                                padding: 20
                            },
                    responsive: true,
                    maintainAspectRatio: true
                    }
                });
            
        });
    </script>
    <script>
        fetch(`/yearlyGDP/${iso3}`).then(response => response.json()).then(yearlyGDPData => {
            const barCtx = document.getElementById('barCtx').getContext('2d');
            const yearlyValues = yearlyGDPData.map(item => parseFloat(item.yearValue.toFixed(2)));
            const years = yearlyGDPData.map(item => item.year);
            new Chart(barCtx, {
                type: 'bar',
                data: {
                    labels: years,
                    datasets: [{
                        label: 'Real GDP ($)',
                        data: yearlyValues,
                        backgroundColor: 'rgba(207, 15, 71)',
                        borderWidth: 1
                    }]
                },
                options: {
                    layout: {
                        padding: 20
                    },
                    scales: {
                        y: {
                            beginAtZero: false,
                        suggestedMin: (Math.min(...yearlyValues) - 10000000000),
                        suggestedMax: (Math.max(...yearlyValues) + 10000000000),
                        }
                    },
                    responsive: true,
                    maintainAspectRatio: true
                }
            });
    });

    </script>
</body>
</html>